<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置分页插件-->
    <plugins>
        <plugin interceptor="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor"></plugin>

        <!--性能分析插件-->
        <plugin interceptor="com.baomidou.mybatisplus.extension.plugins.PerformanceInterceptor">
            <!--设置最大的执行时间，单位为毫秒-->
            <property name="maxTime" value="1000"/>
            <!--对输出的sql做格式化，默认为false-->
            <property name="format" value="false"/>
        </plugin>

        <!--配置乐观锁插件-->
<!--        <plugin interceptor="com.baomidou.mybatisplus.extension.plugins.OptimisticLockerInterceptor"></plugin>-->
    </plugins>
    
</configuration>
