<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>忘记密码</title>
    <link href="css/common.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery-1.8.3.js"></script>
    <script type="text/javascript">
        //验证，在提交表单时
        function checkAll() {
            //获取第一次输入的密码
            var newPwd1 = document.getElementById("newPwd1").value;
            //获取第二次输入的密码
            var newPwd2 = document.getElementById("newPwd2").value;
            //获取提示信息的span
            var span = document.getElementById("errorSpan2");

            var errorSpan1 = document.getElementById("errorSpan1").innerHTML;
            //进行判断是否相同
            if (newPwd1 !== newPwd2) {
                span.innerHTML = "两次输入不一致";
                return false;
            } else if (newPwd1 === "") {
                span.innerHTML = "密码不能为空";
                return false;
            }else if (errorSpan1 == "邮箱不能为空"){
                span.innerHTML = "";
                return false;
            } else if (errorSpan1 == "该邮箱不存在，请先注册"){
                span.innerHTML = "";
                return false;
            } else {
                span.innerHTML = "";
              return true;
            }
        }

        $(function (){
            //邮箱是否存在验证
            $("#email").blur(function () {
                var email = this.value;
                //判断邮箱不能为空
                if(email == ""){
                    $("#errorSpan1").html("邮箱不能为空");
                    return;
                }
                // 发送 ajax 请求验证
                $.getJSON("/easybuy/getEmail?email=" + email, function (data) {
                    // result 等于 1，说明邮箱存在
                    if (data == 1) {
                        $("#errorSpan1").html("");
                    }
                    // result 等于 0，说明邮箱不存在
                    else if (data == 0) {
                        $("#errorSpan1").html("该邮箱不存在，请先注册");
                    }
                });
            })
        })
    </script>
</head>

<body>
<div class="wrap">
    <!-- main begin-->
    <div class="main">
        <div class="sidebarg fnone">
            <form th:action="@{/updatePassword}" method="post" onsubmit="return checkAll()">
                <div class="login">
                    <dl>
                        <dd><h1>忘记密码</h1></dd>
                        <dd><label for="email">邮箱地址:</label>
                            <input name="email" type="text" class="inputh" placeholder="请输入邮箱地址" id="email"/>
                            <div style="color: red ;float: left" id="errorSpan1"></div>
                        </dd>
                        <dd>
                            <label for="newPwd1">新密码:</label>
                            <input name="userPassword" type="password" onblur="checkAll()" class="inputh"
                                   placeholder="密码" id="newPwd1"/>
                        </dd>
                        <dd>
                            <label for="newPwd2">确认密码:</label>
                            <input type="password" onblur="checkAll()" class="inputh" placeholder="确认密码" id="newPwd2"/>
                            <div style="color: red ;float: left" id="errorSpan2"></div>
                        </dd>
                        <dd>
                            <label class="lf" for="checkCode">验证码:</label>
                            <input name="checkCode" type="text" class="inputh inputs lf" placeholder="验证码"
                                   id="checkCode"/>
                            <span class="wordp lf"> <img th:src="@{/getCode}"
                                                         onclick="this.src='getCode?time='+new Date().getTime()"
                                                         width="96" height="27" alt=""/></span>
                            <span class="lf"><a href="" title="">换一张</a></span>
                        </dd>

                        <dd class="buttom">
                            <input name="" onclick="location='login'" value="返回登录"
                                   class="spbg buttombg buttombgs f14 lf"/>
                            <input type="submit" value="确认修改" class="spbg buttombg buttombgs f14 lf"/>
                            <span id="errorMsg" style="color: red;font-size: 18px;font-weight: bold;"
                                  th:text="${errorMsg}"></span>
                            <div class="cl"></div>
                        </dd>

                    </dl>
                </div>
            </form>
        </div>
        <div class="cl"></div>
    </div>
    <!-- main end-->

    <!-- footer begin-->
</div>
<!--footer end-->

</div>


</body>

</html>
